.selectedFilm {
    width: 200px;
    height: 350px;
}

.jpeg {
    width: 350px;
    height: 200px;
    background-size: cover;
}

.jpegTwo {
    width: 200px;
    height: 350px;
    background-size: cover;
}
