.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*max-width: 1500px;*/
    margin: auto;
}

.content {
    width: 1583px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.selectedFilm {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jpeg {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.infoSelectedFilm {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.jpegTwo {
    width: 200px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px;
}

.infoAboutFilm {
    gap: 50px;
    width: 1000px;
}

.infoAboutFilmItem{
    font-size: 20px;
    padding-bottom: 10px;
}